
.vs/KohYoung/v16/Server/sqlite3/storage.ide-wal
.vs/KohYoung/v16/.suo
.vs/KohYoung/v16/Server/sqlite3/db.lock
.vs/KohYoung/v16/Server/sqlite3/storage.ide
.vs/KohYoung/v16/Server/sqlite3/storage.ide-shm
KohYoung/bin/Debug/KohYoung.exe
KohYoung/bin/Debug/KohYoung.exe.config
KohYoung/bin/Debug/KohYoung.pdb
KohYoung/obj/Debug/KohYoung.csproj.CoreCompileInputs.cache
KohYoung/obj/Debug/KohYoung.csproj.FileListAbsolute.txt
KohYoung/obj/Debug/KohYoung.csprojAssemblyReference.cache
KohYoung/obj/Debug/KohYoung.exe
KohYoung/obj/Debug/KohYoung.pdb
KohYoung/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

